body {
  height: 100vh;
  background-image: url('./assets/darkBG.avif');
  background-size: cover;
  background-position: center;
}
input {
  outline: none !important;
  box-shadow: none !important;
}
.custom-width {
  width: 75%;
  min-width: 380px;
}
@media (min-width: 650px) {
  .custom-width{
    width: 30%;
  }
}